body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    padding: 30px 10%;
}

#header-logo {
    font-size: 24px;
    color: #f9FAF8;
    font-weight: bold;
}

.header div {
    display: flex;
}

.header div .hero-subtext {
    margin: 0 16px;
}

.hero-subtext {
    font-size: 18px;
    color: #E5E7EB;
}
#hero-landing {
    display: flex;
    justify-content: space-between;
    margin: 0;
    background-color: #1F2937;
    padding: 30px 10%;
}

#hero-text-box {
    display: flex;
    align-items: center;
}

.hero-image {
    flex: 1;
    width: 800px;
    height: auto;
}

#hero-text {
    font-size: 48px;
    font-weight: bolder;
    color: #f9FAF8;
}
.sign-up-button {
    background-color: #3882F6;
    padding: 8px 30px;
    border: 5px;
    color: #f9FAF8;
    border-radius: 8px;
    font-weight: bold;
    font-size: 18px;
}

.infobox {
    padding-bottom: 100px;
}
.infotext-header {
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    padding: 50px;
}

.info-cards {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.card {
    width: 200px;
    font-size: 18px;
    text-align: center;
}

.card img {
    border: 5px solid #3882F6;
    border-radius: 12px;
    width: 200px;
    height: auto;
}

.quote-box {
    background-color: #E5E7EB;
    font-size: 36px;
    color: #1f2937;
    align-items: center;
    padding: 150px 10%;
}
#quote {
    padding: 0 100px;
}
#quotee {
    display: flex;
    justify-content: right;
}

.action-container {
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 0 10%;
}
.action-box {
    display: flex;
    background-color: #3882F6;
    width: 90%;
    justify-content: space-around;
    border-radius: 12px;
    margin: 100px 0;
    padding: 50px 0;
}

.action-box button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid white;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color: #E5E7EB;
    height: 100px;
}